# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py~


*.tmp
*.txt~
*.ini~
*.DS_Store
*.log

._*
#log file

#pyXPArduino.log

# ignore pyinstaller files and folders for now
build/
dist/

#doc folder
doc/

#config folder
config/



#tests folder
tests-old/
